/* Header.css */
#header {
    font-family: 'Roboto', sans-serif;
    color: black !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  /* Header.css */
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    background-color: transparent;
  }

  